[submodule "nxdk"]
	path = nxdk
	url = https://github.com/mborgerson/dc27-dooom-nxdk.git
	branch = doom
[submodule "doom"]
	path = doom
	url = https://github.com/mborgerson/dc27-dooom-doom.git
	branch = xbox
[submodule "freedoom"]
	path = freedoom
	url = https://github.com/mborgerson/dc27-dooom-freedoom.git
